.button-stylingOLD {
  background-color: 0b5a21;
  font-family: "Courier New", Courier, monospace;
  color: black;
  padding: 0.5em;
  border: 0;
  border-radius: 0.3em;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.button-styling {
  background-color: #108a33;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  color: #ffffff;
  font-family: Arial;
  font-size: 14px;
  padding: 5px 10px;
  position: relative;
}

.button-styling:hover {
  background-color: #0b5a21;
}

.button-styling:hover {
  background-color: #0b5a21;
}

.navbar-button-stylingOLD {
  background-color: rgb(255, 255, 255);
  font-family: "Courier New", Courier, monospace;
  font-size: large;
  color: black;
  padding: 0.5em;
  border-bottom-width: 1px;
  margin: 20px;
}

.button-stylingOLD:hover {
  background-color: #0b5a21;
}

.navbar-button-stylingOLD:hover {
  background-color: #0b5a21;
}

.navbar-button-styling {
  background-color: #108a33;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  color: #ffffff;
  font-family: Arial;
  font-size: 14px;
  padding: 10px 20px;
  position: relative;
  margin: 50px;
}

.navbar-button-styling:hover {
  background-color: #0b5a21;
}

.chat-button-styling {
  margin: 15px;
  position: absolute;
  top: 20%;
  left: 78%;
  width: 30%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #108a33;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  padding: 5px 10px;
  position: relative;
}

.chat-button-styling:hover {
  background-color: #0b5a21;
}

input[type="text"] {
  width: 98%;
  padding: 5px;
  margin-left: 1px;
  margin-bottom: 5px;
  border-radius: 2px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  font-size: 16px;
}
