/*
 * imports the following:
 * #navbar-contiainer
 * #navbar-center-container
 * #navbar-right-container
 * #navbar-left-container
 * .one-third-of-navbar
 */
@import url("./navbar-parent.css");

#return-button-container {
    width: 20%; 
    height: 80%; 
    display: flex; 
    justify-content: right; 
    align-items: center;
}

