<link rel="stylesheet" href="/css/button-styling.css">
<div id="message-container"></div>
<form id="send-container">
  <input type="text" id="message-input">
  <button type="submit" class="button-styling" id="send-button">Send</button>
</form>
<script src="/dist/bundle.js"></script>