<link rel="stylesheet" href="/css/button-styling.css">
<link rel="stylesheet" href="/css/game-room.css">
<div id="message-container"></div>
<form class="chat-container" id="send-container">
  <input type="text" class="chat-input" id="message-input">
  <button type="submit" class="button-styling" id="send-button">Send</button>
</form>
<script src="/dist/bundle.js"></script>