<div id="game-room-navbar">
  <div class="one-third-of-navbar">
    <!-- THIS IS A PLACEHOLDER -->
  </div>
  <div id="game-room-title-container" class="one-third-of-navbar">
    <h1>TEXAS HOLD'EM - GAME <%=gameId%></h1>
  </div>
  <div id="game-room-return-container" class="one-third-of-navbar">
    <input id="return-button" type="button" value="RETURN TO LOBBY">
  </div>
</div>