<div id="navbar-container">
  <div id="navbar-left-container" class="one-third-of-navbar">
    <!-- THIS IS A PLACEHOLDER -->
  </div>
  <div id="navbar-center-container" class="one-third-of-navbar">
    <h1>TEXAS HOLD'EM - GAME <%= gameId %></h1>
  </div>
  <div id="navbar-right-container" class="one-third-of-navbar">
    <!--
      TODO: THIS ACTION SHOULD REMOVE THE USER FROM THE GAME
      IN THE DATABASE. 
    -->
    <form action="<%=`/user/lobby`%>">
      <input class="game-icon" id="return-button" type="submit" value="EXIT GAME">
    </form>
  </div>
</div>