<div id="navbar-container">
  <div id="navbar-left-container" class="one-third-of-navbar">
    <h2>USER PREFERENCES</h1>
  </div>
  <div id="navbar-center-container" class="one-third-of-navbar">
    <h1>TEXAS HOLD'EM</h1>
  </div>
  <div id="navbar-right-container" class="one-third-of-navbar">
    <h2>LOG OUT</h1>
  </div>
</div>