<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main Page</title>
  <link rel="stylesheet" href="/css/game-waiting-room.css">
  <link rel="stylesheet" href="/css/game-room-navbar.css">
  <link rel="stylesheet" href="/css/button-styling.css">

</head>

<div>
    <%- include("./partials/game-room-navbar", {gameId: gameId}) %>
</div>
<div id="waiting-room-view">
  <div class="left-half-horizontal">
    <% if (lobbyOwner) { %>
      <form action=<%=`/game/room/${gameId}/start`%>>
        <input id="start-game-button" class="button-styling" type="submit" value="START GAME">
      </form>
    <% } else { %>
      Waiting
    <% } %>
  </div>
  <div class="left-half-horizontal">
    <div>
      <%- include("./partials/chat", {gameId: gameId}) %>
    </div>
  </div>

</div>