<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main Page</title>
  <link rel="stylesheet" href="/css/game-room.css">
  <link rel="stylesheet" href="/css/game-room-navbar.css">
  <link rel="stylesheet" href="/css/button-styling.css">
  <script>
    // this is a supper nooby code, and the compiler thinks there is an error, but there isn't.
    const gameId = <%= gameId %>;
    const baseUrl = "<%= baseUrl %>";

  </script>
    <script defer src="/js/game-room.js">
    </script>
</head>

<div id="main-container" class="thin-outline">
  <%- include("./partials/game-room-navbar", {gameId: gameId}) %>

  <div id="game-container" class="thin-outline">
    
    <div id="player-view">
    </div>

    <div id="game-view">
      <div id="table-view" class="thin-outline">
        <div id="table-cards">
          <!-- CARDS CAN BE ADDED AS CHILDREN WITH THE addCardToTable function -->
        </div>
      </div>

      <div id="hand-cards" class="thin-outline">
        <!-- CARDS CAN BE ADDED AS CHILDREN WITH THE addCardToHand function -->
      </div>

      <!--   <div id="turn-indicator">Turn: {turnIndicator: turnIndicator}</div>   -->

      <div id="game-controls" class="thin-outline">

        <!-- Using forms rather than the fetch command is basic, but it might be all we need. -->
        <input id="fold-button" style="width: 20%; height: 90%;" class="button-styling" type="button" value="FOLD">

        <input id="call-button" style="width: 20%; height: 90%;" class="button-styling" type="button" value="CALL">
        
        <input id="raise-button" style="width: 20%; height: 90%;" class="button-styling" type="button" value="RAISE">

        <input id="all-in-button" style="width: 20%; height: 90%;" class="button-styling" type="button" value="ALL IN">
        
      </div>
    </div>

    <div>
      <%- include("./partials/chat", {gameId: gameId}) %>
    </div>
  </div>
</div>

</body>
</html>