<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main Page</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <h1>Welcome</h1>

  <form method="POST" action="/user/login">
    <p>Login or register to play.</p>
    <a class="button-styling" href="/user/register">Register</a>
    <a class="button-styling" href="/user/login">Login</a>
  </form>
 
  <div id="message" class="message"></div>
  <script src="/dist/bundle.js"></script>
</body>
</html>
