<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lobby</title>
    
    <link rel="stylesheet" href="/css/lobby.css">
    <link rel="stylesheet" href="/css/lobby-navbar.css">
    <link rel="stylesheet" href="/css/lobby-create-filter.css">
    <link rel="stylesheet" href="/css/lobby-game-list.css">
    <link rel="stylesheet" href="/css/button-styling.css">
    
    <!-- TODO: LOOK INTO bundle.js -->
    <script defer src="/js/lobby-create-filter.js"></script>
</head>

<%- include("./partials/lobby-navbar"); %>

<div id="main-container" class="thin-outline">
  
  <%- include("./partials/lobby-create-filter"); %>
  
  <%- include("./partials/lobby-game-list", { games: games }); %>

</div>
</html>
