<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main Page</title>
  <link rel="stylesheet" href="/css/ingame-view.css">
  <link rel="stylesheet" href="/css/ingame-navbar.css">
  <script src="/js/ingame-view.js"></script>
  <script src="/js/ingame-requests.js"></script>
</head>

<div id="main-container" class="thin-outline">
  <% include("./partials/ingame-navbar") %>

  <div id="game-container" class="thin-outline">
    
    <div id="player-view" class="thin-outline">
      <!-- PLAYERS CAN BE ADDED AS CHILDREN WITH THE addPlayer function -->
    </div>

    <div id="game-view">
      <div id="table-view" class="thin-outline">
        <div id="table-cards">
          <!-- CARDS CAN BE ADDED AS CHILDREN WITH THE addCardToTable function -->
        </div>
      </div>

      <div id="hand-cards" class="thin-outline">
        <!-- CARDS CAN BE ADDED AS CHILDREN WITH THE addCardToHand function -->
      </div>
  
      <div id="game-controls" class="thin-outline">

        <input class="controls-button" type="button" onclick="foldRequest()" value="FOLD">

        <input class="controls-button" type="button" onclick="callRequest()" value="CALL">

        <input class="controls-button" type="button" onclick="raiseRequest()" value="RAISE">

        <input class="controls-button" type="button" onclick="allInRequest()" value="ALL IN">
        
      </div>
    </div>

    <div id="chat-view" class="thin-outline">
      <!-- CHAT -->
    </div>
  </div>
</div>

</body>
</html>